@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root {
  --color1: #687980;
}

body {
  background: #f8f5f1;
  margin: 0;
  font-family: Poppins, sans-serif;
  position: relative;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: rgb(107, 107, 107);
}

ul {
  list-style: none;
  margin: 0;
}

p {
  margin: 0;
}

section {
  padding: 2em 3em;
}

hr {
  height: 2px;
  width: 40%;
  border-width: 0;
  background: black;
}

h2 {
  margin: 0;
}

.hero {
  text-align: center;
}

.nav-bar {
  background: white;
  padding: 1em;
  height: 5vh;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .name {
      margin: 0;
      position: relative;
      font-size: 1.6rem;
      font-weight: bold;

      span.surname {
        color: var(--color1);
      }

      span.under-name {
        position: absolute;
        top: 30px;
        font-size: 1.1rem;
        right: 0px;
        font-family: Allura;
      }
    }

    nav {
      display: none;
    }

    .contact-btn {
      background: var(--color1);
      color: white;
      border: 2px solid black;
      padding: 0.1em 0.4em;
      border-radius: 3em;

      &:hover {
        background: blue;
      }
    }
  }
}

.hero {
  padding-bottom: 7vh;

  .main {
    display: block;

    .first-column {
      background: white;
      max-width: 20rem;
      margin-left: auto;
      margin-right: auto;

      padding: 1.4rem;
      box-shadow: 5px 4px 8px 3px rgba(0, 0, 0, 0.3),
        0 6px 20px 0 rgba(0, 0, 0, 0.25);

      img {
        width: 12rem;
        height: 12rem;
        border: 2px solid var(--color1);
        border-radius: 7rem;
        background: rgb(146, 140, 140);
      }

      p {
        text-transform: uppercase;
      }

      h3 {
        text-align: left;
        margin-bottom: 0.7rem;
      }

      table td {
        text-align: left;
        width: 18em;
      }

      &:before {
        content: "";
        position: absolute;
        width: 50%;
        height: 34rem;
        background: var(--color1);
        left: 0;
        z-index: -1;
      }
    }

    .second-column {
      margin-top: 2.5rem;
      max-width: 20rem;
      margin-left: auto;
      margin-right: auto;
      padding: 1.4rem;
      text-align: left;

      p {
        margin-top: 2rem;
      }

      span {
        font-size: 2rem;
      }

    }
  }
}

.comming-soon {
  font-family: "Permanent Marker";
  font-weight: bold;
  font-size: 3rem;
  color: var(--color1);
  margin-top: 2rem;
}

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 7vh;

  .container-bottom {
    .contact-me {
      color: var(--color1);
    }

  }
}

@media only screen and (min-width: 820px) {
  .hero {
    .main {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .second-column .first-column {
        margin-right: 0;

      }

      .second-column {
        span {
          font-size: 8rem;
          position: absolute;
          top: 11rem;
          z-index: -1;

          color: var(--color1)
        }
      }
    }
  }

  .comming-soon {
    font-size: 6rem;
  }
}

@media only screen and (min-width: 1080px) {
  body .container-sec {
    width: 1080px;
    margin: 0 auto;
  }

  .comming-soon {
    margin-top: 8rem;
  }
}